

  body {
    background-color: #373331;
  }

  h1, h3, p, table, ul, form {
    color: #e8eaa1;
  }

  a:link {
    color: #80ac7b;
  }

  a:visited {
    color: #605a56;
  }

  hr {
    border-color: #605a56;
    border-style: dotted none none;
    border-top-width: 6px;
    width: 10%;
  }
